@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para dark mode */
html.dark {
  background-color: #18181b;
}
body.dark {
  background-color: #18181b;
  color: #e5e7eb;
}
